name: Core Quality checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
      - name: Check Formatting
        run: test -z "$(gofmt -l .)"
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.6.0
          args: --timeout=3m ./...
      - name: Run tests & Codecov
        run: go test -v ./... -coverprofile=coverage.txt -covermode=atomic
      - name: Govet
        run: go vet -v ./...
      - name: Send coverage to CodeCov
        run: bash <(curl -s https://codecov.io/bash)
  deploy:
    needs: lint-and-test
    runs-on: ubuntu-latest
    steps:
      - name: CI tests passed
        run: echo "Linting and unit tests passed."
