name: Basic CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.3'
      - name: Check Formatting
        run: test -z "$(gofmt -l .)"
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.0
          args: --timeout=3m ./...
      - name: Run Unit Tests
        run: sudo go test ./...
  deploy:
    needs: lint-and-test
    runs-on: ubuntu-latest
    steps:
      - name: CI tests passed
        run: echo "Linting and unit tests passed."
