name: Core Quality checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
      - name: Check Formatting
        run: test -z "$(gofmt -l .)"
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.0
          args: --timeout=3m ./...
      - name: Run Unit Tests
        run: go test -tags=unit -v ./... -coverprofile=coverage-unit.txt -covermode=atomic
      - name: Run Integration Tests
        run: sudo -E env "PATH=$PATH" go test -tags=integration -v ./... -coverprofile=coverage-integration.txt -covermode=atomic -coverpkg=./...
      - name: Run Stress Tests
        run: sudo -E env "PATH=$PATH" go test -tags=stress -v ./... -coverprofile=coverage-stress.txt -covermode=atomic -coverpkg=./...
      - name: Send coverage to CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage-unit.txt,./coverage-integration.txt,./coverage-stress.txt
          fail_ci_if_error: true
  deploy:
    needs: lint-and-test
    runs-on: ubuntu-latest
    steps:
      - name: CI Passed
        run: echo "All checks passed."